<ng-container *ngFor="let Toaster of ToasterList; let i=index">
  <div class="Toaster_Message" [ngClass]="Toaster.Type" [style.top.px]="Toaster.Top">
     <div class="loader"></div>
     <div class="Message_Icon">
        <i *ngIf="Toaster.Type === 'Success'" class="material-icons">check_circle</i>
        <i *ngIf="Toaster.Type === 'Info'" class="material-icons">info</i>
        <i *ngIf="Toaster.Type === 'Warning'" class="material-icons">error</i>
        <i *ngIf="Toaster.Type === 'Error'" class="material-icons">cancel</i>
     </div>
     <div class="Message">
        <h6 class="Title"> {{Toaster.Type}} Message </h6>
        <h6 class="body"> {{Toaster.Message | slice:0:42}} {{Toaster.Message?.length > 42 ? '...' : ' ' }} </h6>
     </div>
     <div class="Message_Close" (click)="HideToaster(i)">
        <i class="material-icons">close</i>
     </div>
  </div>
</ng-container>

<ng-container *ngIf="UserLoggedIn">
   <app-header></app-header>
 </ng-container>

 <router-outlet></router-outlet>