<!-- If Create Or Edit The Sub Category -->
<div class="Modal_Content" *ngIf="Type && ( Type === 'Create' || Type === 'Edit')">
   <div class="Modal_Header">
      <p> {{Type}} Sub Category </p>
      <span  *ngIf="!Uploading" data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
   </div>
   <form [formGroup]="Form" (ngSubmit)="onSubmit()">
      <div class="Model_Body">
         <div class="row">
            <div class="col-sm-12 Form_Input" [ngClass]="{'Form_Err': Form.controls['SubCategory'].errors && !Form.controls['SubCategory'].pristine, 'Form_Success': Form.controls['SubCategory'].valid && !Form.controls['SubCategory'].pristine }">
               <label>Sub Category :</label>
               <input type="text" formControlName="SubCategory">
               <p class="error" *ngIf="Form.controls['SubCategory'].errors && !Form.controls['Category'].pristine">
                  <span *ngIf="Form.controls['SubCategory'].errors.required">Sub Category is required</span>
                  <span *ngIf="Form.controls['SubCategory'].errors.SubCategory_NotAvailable">Sub Category Already Exist</span>
               </p>
            </div>
            <div class="col-sm-12 Form_Select">
               <label>Categories:</label>
               <ng-select class="NgSelect ValueBold"
                           formControlName="Category"
                           [items]="Categories"
                           [bindLabel]="'Category'"
                           [bindValue]="'_id'"
                           [searchable]="true"
                           [hideSelected]="true"
                           [multiple]="true"
                           placeholder="Categories">
               </ng-select>
               <p class="error" *ngIf="Form.controls['Category'].errors && !Form.controls['Category'].pristine">
                  <span *ngIf="Form.controls['Category'].errors.required"> Category is required</span>
               </p>
            </div>
         </div>
      </div>
      <div class="Model_Footer">
         <button type="submit" [disabled]="Form.status !== 'VALID' || Uploading" mat-raised-button color="primary">
            <span *ngIf="Type === 'Create' && !Uploading">Submit</span>
            <span *ngIf="Type === 'Edit' && !Uploading">Update</span>
            <span *ngIf="Uploading" class="UploadingBtn"> <i class="fa fa-refresh fa-spin"></i> Loading... </span>
         </button>
      </div>
   </form>
</div>

<!-- If View The Sub Category -->
<div class="Modal_Content" *ngIf=" Type && Type === 'View'">
   <div class="Modal_Header">
      <p>View Sub Category</p>
      <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
   </div>
   <div class="Model_Body">
      <div class="view_item">
         <div class="Static">Sub Category </div>
         <div class="dots"> : </div>
         <div class="Data"> {{Data.SubCategory}}</div>
      </div>
      <div class="view_item">
         <div class="Static"> Categories </div>
         <div class="dots"> : </div>
         <div class="Data"> 
            <span class="Badge" *ngFor="let category of Data.Category; let j=index"> {{category?.Category}} </span> 
         </div>
      </div>
      <div class="view_item">
         <div class="Static">Created By </div>
         <div class="dots"> : </div>
         <div class="Data"> {{Data.Created_By.Name}} 
            <!-- <span class="Badge"> {{Data.Created_By.User_Type.User_Type}} </span> -->
         </div>
      </div>
      <div class="view_item">
         <div class="Static">Last Modified By </div>
         <div class="dots"> : </div>
         <div class="Data"> {{Data.Last_Modified_By.Name}}
            <!-- <span class="Badge"> {{Data.Last_Modified_By.User_Type.User_Type}} </span> -->
         </div>
      </div>
      <div class="view_item">
         <div class="Static"> Created Date </div>
         <div class="dots"> : </div>
         <div class="Data"> {{Data.createdAt | date:'medium'}}</div>
      </div>
      <div class="view_item">
         <div class="Static">Last Modified Date  </div>
         <div class="dots"> : </div>
         <div class="Data"> {{Data.updatedAt | date:'medium'}}</div>
      </div>
   </div>
</div>



